<template>
  <div>
    <div v-if="!isLoading">
      <template v-if="!new_offers.length">
          <v-row align="center" justify="center">
          <v-col md="6" class="text-center">
              <empty />
              <h1 class="title ma-0 font-weight-medium">No Offers yet</h1>
              <h3 class="subtitle-1">New offers would show here once you get matched to a campaign.</h3>
          </v-col>
          </v-row>
      </template>
      <template v-else>
        <v-row align="center" justify="center">
          <v-col md="11">
            <v-card class="pa-3">
              <vueper-slides
                class="no-shadow"
                :visible-slides="3"
                slide-multiple 
                :gap="3"
                :infinite="true"
                :slide-ratio="1 / 3"
                :dragging-distance="200"
                :breakpoints="{ 800: { visibleSlides: 1, slideMultiple: 1 , bullets: false, slideRatio: 1/1} }"
              >
                <vueper-slide v-for="item in new_offers" :key="item.id">
                  <template v-slot:content>
                    <v-img :src="item.photo" aspect-ratio="1.7"></v-img>
                    <div class="subheading pt-4">{{ item.elipsis }}</div>
                    <p class="pt-2">{{ item.brand.title }}</p>
                    <div class="d-flex justify-start align-end">
                      <div>
                        <v-img :src="item.brand.photo" width="50"></v-img>
                      </div>
                      <div> 
                        <p class="my-0 ml-2 font-weight-bold caption">{{ item.brand.name }}</p>
                      </div>
                    </div>
                    <div class="mt-4">
                      <v-btn small color="primary" depressed :to="{name:'OfferPage', params:{id: item.id}}">Claim Offer</v-btn>
                    </div>
                  </template> 
                </vueper-slide>
              </vueper-slides>
            </v-card>
          </v-col>
        </v-row>
      </template>
    </div>
    <spinner v-if="isLoading"></spinner>
  </div>
</template>

<script lang="ts" src="./NewOffer.vue.ts"></script>

<style lang="scss" scoped>
</style>
