<template>
  <div>
    <div v-if="isLoading">
      <spinner></spinner>
    </div>
    
    <div>
      <v-container>
        <v-row>
          <v-col cols="5">
            <div>
              <v-carousel
                v-model="product_slides"
                hide-delimiter-background
                hide-delimiters
                show-arrows-on-hover
                height="300"
              >
                <v-carousel-item
                  v-for="picture in page.page_pictures"
                  :key="picture"
                  :src="picture"
                >
                </v-carousel-item>
              </v-carousel>
            </div>

            <div class="mt-3">
              <div class="d-fex flex-row justify-space-between">
                <v-avatar
                  tile
                  @click="product_slides = i"
                  class="point"
                  v-for="(picture, i) in page.page_pictures"
                  :key="picture"
                >
                  <img :src="picture" />
                </v-avatar>
              </div>
            </div>
          </v-col>
          <v-col cols="7">
            <img :src="campaign.brand.photo" width="100" class />
            <h2 class="title-1">{{ page.product_name }}</h2>
            <p class="body-1">{{ page.short_description }}</p>
            <div>
              <p class="red--text" v-if="!can_accept">You do not have a shipping address, please click the button below to provide your shipping address, before claiming this offer</p>
              <v-btn
                color="primary"
                class="text-capitalize"
                large
                rounded
                depressed
                v-if="can_accept"
                @click="AcceptOfferConfirm()"
                >Claim Offer</v-btn>
              <v-btn
                color="primary"
                class="text-capitalize"
                large
                rounded
                depressed
                v-if="!can_accept"
                :to="{name: 'Shipping'}"
                >Update Shipping Address</v-btn>
            </div>
          </v-col>
        </v-row>
      </v-container>

      <v-container>
        <v-row>
          <v-col class="8">
            <div>
              <h2 class="title-1">{{ page.long_description_title }}</h2>
              <p class="body-1">{{ page.long_description_content }}</p>
            </div>
            <div>
              <h4 class="title-1">{{ page.features.title }}</h4>
              <ul>
                <li
                  v-for="feature in page.features.feature_list"
                  v-bind:key="feature"
                >
                  {{ feature }}
                </li>
              </ul>
            </div>
          </v-col>
          <v-col class="4">
            <h4 class="title-1">{{ page.info_title }}</h4>
            <p class="body-1">{{ page.info_content }}</p>
          </v-col>
        </v-row>
      </v-container>

      <v-row justify="center">
        <v-dialog
          v-model="dialog"
          hide-overlay
          transition="dialog-bottom-transition"
          persistent
          max-width="290"
        >
          <v-card flat class="pa-3">
            <template v-if="dialogType === 'ACCEPT'">
              <v-card-text>
                <p class="body-1">
                  Are you sure you want to accept this offer?
                </p>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="red" text @click="dialog = false"> Cancel </v-btn>
                <v-btn color="primary" small depressed @click="AcceptOffer()">
                  Accept Offer
                </v-btn>
              </v-card-actions>
            </template>
            <template v-if="dialogType === 'LOGIN'">
              <v-card-text>
                <p class="body-1">
                  You must login to accept an offer. Hurry! Login and accept
                  this offer
                </p>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                  color="red"
                  text
                  class="text-capitalize"
                  @click="dialog = false"
                >
                  Cancel
                </v-btn>
                <v-btn
                  color="primary"
                  small
                  depressed
                  class="text-capitalize"
                  :to="{ name: 'Login' }"
                >
                  Login & Accept
                </v-btn>
              </v-card-actions>
            </template>
          </v-card>
        </v-dialog>
      </v-row>
    </div>
  </div>
</template>
<script lang="ts" src="./Offer.vue.ts"></script>
<style lang="scss" scoped>
.wrap-text {
  -webkit-line-clamp: unset !important;
}
.point:hover { 
  cursor: pointer;
}
</style>
