<template>
 <v-container>
    <h2 color="grey lighten-5" class="title mb-5">My Products</h2>

    <v-card flat>
      
      <v-data-table
        :headers="headers"
        :items="data"
        :page.sync="currentPage"
        :items-per-page.sync="itemsPerPage"
        :loading="loading"
        class="elevation-0"
        @update:options="updateTable"
        :hide-default-footer="true"
      >
        <template v-slot:item.inbound_inventory="{item}">
          <v-img :src="item.inbound_inventory.campaign.photo" width="75"></v-img>
        </template>
        <!-- :server-items-length="totalData" :search="search" -->
        
      </v-data-table>

      <div class="text-center pt-2">
        <v-pagination v-model="currentPage" :length="totalPages" @input="Paginate"></v-pagination>
      </div>
    </v-card>
    
</v-container>

</template>

<script lang="ts" src="./Products.vue.ts"></script>

