<template>
  <div>
    <v-row class="align-center justify-center">
      <v-col md="8">
        <h2 class="title">Update Account</h2>
      </v-col>
    </v-row>
    <v-row class="align-center justify-center">
      <v-col md="8">
        <v-card :loading="fetchingStates">
          <div class="pa-8">
            <v-text-field
              v-model="username"
              type="text"
              color="primary"
              label="Username"
              :error-messages="usernameErrors"
              @input="$v.username.$touch()"
              @blur="$v.username.$touch()"
            ></v-text-field>

            <v-text-field
              v-model="firstname"
              type="text"
              color="primary"
              label="Firstname"
              :error-messages="firstnameErrors"
              @input="$v.firstname.$touch()"
              @blur="$v.firstname.$touch()"
            ></v-text-field>

            <v-text-field
              v-model="lastname"
              type="text"
              color="primary"
              label="Lastname"
              :error-messages="lastnameErrors"
              @input="$v.lastname.$touch()"
              @blur="$v.lastname.$touch()"
            ></v-text-field>

            <v-select
              v-model="gender"
              :items="genders"
              item-text="title"
              item-value="value"
              type="text"
              color="primary"
              label="Gender"
              :error-messages="genderErrors"
              @input="$v.gender.$touch()"
              @blur="$v.gender.$touch()"
            ></v-select>

            <v-select
              v-model="state"
              :items="states"
              item-text="title"
              item-value="id"
              type="text"
              color="primary"
              label="State Of Residence"
              :error-messages="stateErrors"
              @input="$v.state.$touch()"
              @blur="$v.state.$touch()"
            ></v-select>

            <v-dialog ref="dialog" persistent width="290px">
              <template v-slot:activator="{ on }">
                <v-text-field
                  v-model="birthdate"
                  label="Birthdate"
                  prepend-icon="mdi-calendar-month"
                  readonly
                  v-on="on"
                  :error-messages="birthdateErrors"
                  @input="$v.birthdate.$touch()"
                  @blur="$v.birthdate.$touch()"
                ></v-text-field>
              </template>
              <v-date-picker v-model="birthdate" scrollable :max="max_date" :min="min_date">
                <v-spacer></v-spacer>
                <v-btn text color="primary" @click="Datemodal = false">Cancel</v-btn>
                <v-btn text color="primary" @click="$refs.dialog.save(birthdate)">OK</v-btn>
              </v-date-picker>
            </v-dialog>

            <v-btn
              color="primary"
              depressed
              @click="submitAccountForm()"
              :loading="accountSubmiting"
              :disabled="accountSubmiting"
            >Update Account</v-btn>
          </div>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script lang="ts" src="./OnboardAccountUpdate.vue.ts"></script>

