<template>
  <v-app id="APP_BODY">
    <v-navigation-drawer
      app
      v-if="isLoggedIn"
      fixed
      :permanent="$vuetify.breakpoint.mdAndUp"
      :mini-variant.sync="mini"
      :temporary="$vuetify.breakpoint.mdAndDown"
      v-model="drawer"
      color="primary"
    >
      <template v-slot:prepend>
        <v-list-item>
          <v-list-item-content>
            <router-link :to="{name: 'Home'}">
              <img src="@/assets/images/logo-white.png" width="100" />
            </router-link> 
          </v-list-item-content>  
        </v-list-item>
      </template>
      <v-divider></v-divider>

      <v-list nav rounded dark>
        <v-list-item :to="{name: 'Home'}" exact color="white">
          <v-list-item-icon>
            <v-icon>mdi-home-outline</v-icon>
          </v-list-item-icon>
          <v-list-item-title>Dashboard</v-list-item-title>
        </v-list-item>

        <v-list-group
          no-action
          v-for="main in menu_children_slot_1"
          :prepend-icon="main.icon"
          v-bind:key="main.title"
          color="white"
        >
          <template v-slot:activator>
            <v-list-item-content>
              <v-list-item-title>{{ main.title }}</v-list-item-title>
            </v-list-item-content>
          </template>
          <v-list-item v-for="(item, i) in main.children" :key="i" :to="{name: item[1]}" exact>
            <!-- <v-list-item-icon>
              <v-icon>{{ item[2] }}</v-icon>
            </v-list-item-icon>-->
            <v-list-item-title v-text="item[0]"></v-list-item-title>
          </v-list-item>
        </v-list-group>

        <!-- <v-list-item :to="{name: 'EarnPoints'}" exact color="white">
          <v-list-item-icon>
            <v-icon>mdi-diamond-outline</v-icon>
          </v-list-item-icon>
          <v-list-item-title>Earn Points</v-list-item-title>
        </v-list-item> -->

        <v-list-group
          no-action
          v-for="main in menu_children_slot_2"
          :prepend-icon="main.icon"
          v-bind:key="main.title"
          color="white"
        >
          <template v-slot:activator>
            <v-list-item-content>
              <v-list-item-title>{{ main.title }}</v-list-item-title>
            </v-list-item-content>
          </template>
          <v-list-item v-for="(item, i) in main.children" :key="i" :to="{name: item[1]}" exact>
            <!-- <v-list-item-icon>
              <v-icon>{{ item[2] }}</v-icon>
            </v-list-item-icon>-->
            <v-list-item-title v-text="item[0]"></v-list-item-title>
          </v-list-item>
        </v-list-group> 

        <v-list-item :to="{name: 'Shipping'}" exact color="white">
          <v-list-item-icon>
            <v-icon>mdi-truck-outline</v-icon>
          </v-list-item-icon>
          <v-list-item-title>Shipping</v-list-item-title>
        </v-list-item>

        <v-list-item :to="{name: 'Profile'}" exact color="white">
          <v-list-item-icon>
            <v-icon>mdi-account-outline</v-icon>
          </v-list-item-icon>
          <v-list-item-title>Profile</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar app v-if="isLoggedIn" color="#ffffff" flat>
      <v-btn icon @click.stop="minimizeMenu()" class="hidden-md-and-down">
        <v-icon>mdi-menu</v-icon>
      </v-btn>
      <v-btn icon @click.stop="toggleMenu()" class="hidden-md-and-up">
        <v-icon>mdi-menu</v-icon>
      </v-btn>
      <v-spacer></v-spacer>

      <v-btn text color="primary">
        <v-icon>mdi-diamond-outline</v-icon>
        {{ user.points }}
      </v-btn>
      <v-menu offset-y>
        <template v-slot:activator="{ on }">
          <v-sheet v-on="on" color="transparent" v-ripple class="user-jar py-4 px-3">
            <v-avatar size="24">
              <img :src="user.image" :alt="user.username" />
            </v-avatar>
            <span>{{ user.username }}</span>
          </v-sheet>
        </template>
        <v-list>
          <v-list-item :to="{name:'Profile'}">
            <v-list-item-title>My Profile</v-list-item-title>
          </v-list-item>
          <v-list-item @click="LogOut()">
            <v-list-item-title>Logout</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>
    </v-app-bar>

    <!-- Sizes your main based upon application components -->
    <v-main>
      <v-container fluid>
        <router-view></router-view>
      </v-container>
    </v-main>

    <v-footer app>
      <!-- -->
    </v-footer>
  </v-app>
</template>

<script lang="ts" src="./App.vue.ts">
</script>

<style lang="scss">
//@import "../../scss/variables.scss";
</style>
