<template>
  <div>
   <spinner v-if="isLoading"></spinner>
    <v-row class="justify-center align-center">
        <v-col md="10">
            <div id="SurveyBox"></div>
        </v-col>
    </v-row>

    <spinner text="Wait while we save your survey!" v-if="isSaving"></spinner>
  </div>
</template>

<script lang="ts" src="./FeedbackSurvey.vue.ts"></script>

 