<template>
  <div>
    <v-row>
      <v-col md="12">
        <v-card class="pa-3" flat>
          <v-card-title>Redeem Points</v-card-title>
          <template v-if="!freebies">
            <v-row align="center" justify="center">
              <v-col md="6" class="text-center">
                <empty />
                <h1 class="title ma-0 font-weight-medium">No freebies yet</h1>
                <h3 class="subtitle-1">Freebies will show here once we add one.</h3>
              </v-col>
            </v-row>
          </template>
          <template v-else>
            <div v-if="!loading">
              <v-row>
                <v-col md="4" v-for="freebie in freebies" v-bind:key="freebie.id">
                  <v-card flat outlined>
                    <v-img
                      :src="images[freebie.type]"
                      class="white--text align-center justify-center text-center"
                      gradient="to bottom, rgba(0,0,0,.5), rgba(0,0,0,.5)"
                      height="200px"
                    >
                      <h3 class="font-weight-bold m-0 title white--text"><v-icon color="white">{{ diamond }}</v-icon> {{ freebie.points }}</h3>
                      <!-- <h3 class="font-weight-bold m-0 title">&#8358;{{ freebie.amount }}</h3> -->
                      <!-- <p class="text-survey-card m-0 subtitle-2">{{ freebie.points }} Points</p> -->
                    </v-img>

                    <v-card-actions class="text-center">
                      <v-chip
                        x-small
                        color="secondary"
                        text-color="white"
                        class="text-uppercase"
                      >{{ freebie.type }}</v-chip>
                      <v-spacer></v-spacer>
                      <v-btn
                        class="ma-2"
                        color="primary"
                        small
                        depressed
                        @click="RedeemPoints(freebie)"
                      >Redeem</v-btn>
                    </v-card-actions>
                  </v-card>
                </v-col>
              </v-row>
            </div>
          </template>

          <v-row v-if="loading">
            <v-col md="12">
              <spinner></spinner>
            </v-col>
          </v-row>
          <v-row>
            <v-col md="12" class="text-center pt-2">
              <v-pagination v-model="currentPage" :length="totalPages" @input="Paginate"></v-pagination>
            </v-col>
          </v-row>
        </v-card>
      </v-col>
    </v-row>

    <v-dialog v-model="dialog" max-width="400">
      <v-card class="pa-3">
        <v-card-title class="headline">{{ popUpTitle }}</v-card-title>

        <v-card-text>{{ popUpMessage }}</v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red" outlined small @click="dialog = false">Cancel</v-btn>
          <v-btn
            v-if="popUpAction"
            color="primary"
            small
            depressed
            :loading="isRedeeming"
            :disabled="isRedeeming"
            @click="triggerPopUpAction()"
          >Confirm</v-btn>
          <v-btn
            v-if="!popUpAction"
            color="primary"
            small
            depressed
            :to="{name: 'Profile'}"
          >Update Account</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script lang="ts" src="./RedeemPoints.vue.ts"></script>

