<template>
  <div>
    <v-container>
      <v-row>
        <v-col>
          <v-card flat>
            <v-card flat>
              <v-card-title>Give Feedbacks</v-card-title>
              <v-card-subtitle
                >Hazina rewards you with points when you share your experience using the free samples we shipped to you. You can
                trade your points in for other feedback.</v-card-subtitle
              >
              <v-card-text v-if="feedbackLoading">
                <spinner></spinner>
              </v-card-text>
              <v-card-text v-if="!feedbackLoading">
                <template v-if="!feedbacks.length">
                  <v-row align="center" justify="center">
                    <v-col md="6" class="text-center">
                      <empty /> 
                      <h1 class="title ma-0 font-weight-medium">
                        No Feedback Surveys yet
                      </h1>
                      <h3 class="subtitle-1">
                        Feedback surveys would show here once we add one
                      </h3>
                    </v-col>
                  </v-row>
                </template>
                <template v-else>
                  <v-row>
                    <v-col
                      md="4"
                      v-for="feedback in feedbacks"
                      v-bind:key="feedback.id"
                    >
                      <v-card flat outlined>
                        <v-img
                          :src="feedback.campaign.photo"
                          class="white--text align-center justify-center text-center"
                          gradient="to bottom, rgba(0,0,0,.5), rgba(0,0,0,.5)"
                          height="200px"
                        >
                          <h3 class="font-weight-bold m-0 title">
                            <v-icon color="white">mdi-diamond-outline</v-icon> {{ feedback.survey_points }}
                          </h3>
                          <!-- <p class="text-survey-card m-0 subtitle-2">
                            {{ feedback.survey.number_of_questions }} Questions
                          </p> -->
                          <p class="white--text m-0 body-1">
                            {{ feedback.title }}
                          </p>
                        </v-img>

                        <v-card-actions>
                          <v-spacer></v-spacer>
                            <v-btn
                              class="ma-2"
                              color="primary"
                              small
                              depressed
                              :to="{
                                name: 'FeedbackSurvey',
                                params: { id: encrypt(feedback.id) },
                              }"
                              >Take Survey</v-btn
                            >
                        </v-card-actions>
                      </v-card>
                    </v-col>
                  </v-row>
                </template>
              </v-card-text>
            </v-card>
          </v-card>
        </v-col>
      </v-row>
    </v-container>

  
  </div>
</template>

<script lang="ts" src="./FeedbackSurveys.vue.ts"></script>

<style lang="scss" scoped>
.text-survey-card {
  color: #fff !important;
  font-weight: 500;
  font-size: 16px;
}
.force-center {
  text-align: center !important;
}
</style>
