<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0"/>

    <link rel="icon" href="<%= BASE_URL %>favicon.ico" />
    <title>Hazina - Consumer Portal</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-NPDFLJK");
    </script>
    <!-- End Google Tag Manager -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <noscript>
      <strong
        >We're sorry but Hazina doesn't work properly without JavaScript
        enabled. Please enable it to continue.</strong
      >

      <!-- Google Tag Manager (noscript) -->
      <iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-NPDFLJK"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
      ></iframe>
      <!-- End Google Tag Manager (noscript) -->
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
