<template>
  <div>
    <v-container>
      <v-row>
        <v-col>
          <v-card flat>
            <v-card flat>
              <v-card-title>Earn Points</v-card-title>
              <v-card-subtitle
                >Hazina rewards you with points by taking Fun Surveys. You can
                trade your points in for other freebies.</v-card-subtitle
              >
              <v-card-text v-if="dailyLoading">
                <spinner></spinner>
              </v-card-text>
              <v-card-text v-if="!dailyLoading">
                <template v-if="!freebies.length">
                  <v-row align="center" justify="center">
                    <v-col md="6" class="text-center">
                      <empty /> 
                      <h1 class="title ma-0 font-weight-medium">
                        No Fun Surveys yet
                      </h1>
                      <h3 class="subtitle-1">
                        Fun surveys would show here once we add one
                      </h3>
                    </v-col>
                  </v-row>
                </template>
                <template v-else>
                  <v-row>
                    <v-col
                      md="4"
                      v-for="(freebie, index) in freebies"
                      v-bind:key="freebie.id"
                    >
                      <v-card flat outlined>
                        <v-img
                          :src="freebie.photo"
                          class="white--text align-center justify-center text-center"
                          gradient="to bottom, rgba(0,0,0,.5), rgba(0,0,0,.5)"
                          height="200px"
                        >
                          <h3 class="font-weight-bold m-0 title">
                            <v-icon color="white">mdi-diamond-outline</v-icon> {{ freebie.points }}
                          </h3>
                          <!-- <p class="text-survey-card m-0 subtitle-2">
                            {{ freebie.survey.number_of_questions }} Questions
                          </p> -->
                          <p class="white--text m-0 body-1">
                            {{ freebie.title }}
                          </p>
                        </v-img>

                        <v-card-actions>
                          <v-spacer></v-spacer>
                          <template v-if="index == 0 && can_play == false">
                            <v-btn
                              class="ma-2"
                              color="primary"
                              small
                              depressed
                              disabled
                            >
                              <v-icon left>{{ lock_question }}</v-icon
                              >Earn
                            </v-btn>
                          </template>
                          <template v-else-if="index == 0 && can_play == true">
                            <v-btn
                              class="ma-2"
                              color="primary"
                              small
                              depressed
                              :to="{
                                name: 'FreebieSurvey',
                                params: { id: encrypt(freebie.id) },
                              }"
                            >
                              <v-icon left>mdi-lock-open-outline</v-icon
                              >Earn
                            </v-btn>
                          </template>
                          <template v-else-if="index > 0">
                            <v-btn
                              class="ma-2"
                              color="primary"
                              small
                              depressed
                              disabled
                            >
                              <v-icon left>mdi-lock-outline</v-icon
                              >Earn
                            </v-btn>
                          </template>
                        </v-card-actions>
                      </v-card>
                    </v-col>
                  </v-row>
                </template>
              </v-card-text>
            </v-card>
          </v-card>
        </v-col>
      </v-row>
    </v-container>

  </div>
</template>

<script lang="ts" src="./EarnPoints.vue.ts"></script>

<style lang="scss" scoped>
.text-survey-card {
  color: #fff !important;
  font-weight: 500;
  font-size: 16px;
}
.force-center {
  text-align: center !important;
}
</style>
