<template>
<v-layout>
  <v-row class="align-center justify-center">
    <v-col md="6" class="text-center">
      <template v-if="(type == 'daily')">
           <v-img src="@/assets/images/celebrate.svg" width="200" class="ma-auto"></v-img>
        <p class="title primary--text">Congratulations!</p>
        <p class="body-1 font-weight-medium my-1">You have been rewarded with <span class="primary--text title my-0">{{ points }}</span> Points</p>
        <p>You may redeem your point for a freebie or take another daily survey to get more points</p>
        <div class="mt-4">
          <v-btn :to="{name: 'RedeemPoints'}" color="primary" outlined class="ma-1">Redeem Points</v-btn>
          <v-btn :to="{name: 'EarnPoints'}" color="primary" depressed class="ma-1">Take Another Survey</v-btn>
        </div>
      </template>

      <template v-if="(type == 'feedback')">
        <v-img src="@/assets/images/celebrate.svg" width="200" class="ma-auto"></v-img>
        <p class="title primary--text">Thank You!</p>
        <p class="body-1 font-weight-medium my-1">Your feedback is valuable to us</p>
        <p class="body-1 font-weight-medium my-1">You have been rewarded with <span class="primary--text title my-0">{{ points }}</span> Points for your feedback</p>
        <!-- <p>You may redeem your point for a freebie or give feedback to your campaigns to get more points</p> -->
        <!-- <div class="mt-4">
          <v-btn :to="{name: 'RedeemPoints'}" color="primary" outlined class="ma-1">Redeem Points</v-btn>
          <v-btn :to="{name: 'EarnPoints'}" color="primary" depressed class="ma-1">Take Another Survey</v-btn>
        </div> -->
      </template>
     
    </v-col> 
  </v-row> 
</v-layout>
</template>

<script lang="ts" src="./SurveyNotify.vue.ts"></script>

