<template>
  <div>
    <v-expansion-panels mandatory>
      <v-expansion-panel>
        <v-expansion-panel-header>Account Settings</v-expansion-panel-header>
        <v-expansion-panel-content>
          <v-row>
            <v-col md="4" class="text-center">
              <div size="120" class="user">
                <v-img :src="imageData ? imageData : user.image" :alt="user.username" class="profile-img"></v-img>
                <v-icon
                  class="icon primary white--text"
                  @click="dialog=true"
                  >mdi-upload</v-icon
                >
              </div>
              <v-dialog v-model="dialog" width="350">
                <v-card>
                  <v-card-text class="pt-2">
                    <v-image-input
                      v-model="imageData"
                      :image-quality="0.85"
                      clearable
                      image-format="jpg,png"
                      :image-height="150"
                      :image-width="150"
                      class="ma-0"
                    />
                  </v-card-text>
                  <v-card-actions>
                    <v-btn color="primary"  @click="dialog = false" depressed small>Crop</v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </v-col>
            <v-col md="6">
              <v-text-field
                v-model="accountForm.username"
                type="text"
                color="primary"
                label="Username"
                :error-messages="usernameErrors"
                @input="$v.accountForm.username.$touch()"
                @blur="$v.accountForm.username.$touch()"
              ></v-text-field>
              <v-text-field
                v-model="accountForm.firstname"
                type="text"
                color="primary"
                label="firstname"
                :error-messages="firstnameErrors"
                @input="$v.accountForm.firstname.$touch()"
                @blur="$v.accountForm.firstname.$touch()"
              ></v-text-field>
              <v-text-field
                v-model="accountForm.lastname"
                type="text"
                color="primary"
                label="Lastname"
                :error-messages="lastnameErrors"
                @input="$v.accountForm.lastname.$touch()"
                @blur="$v.accountForm.lastname.$touch()"
              ></v-text-field>
              <v-select
                v-model="accountForm.gender"
                :items="genders"
                type="text"
                item-text="title"
                item-value="value"
                color="primary"
                label="Gender"
                :error-messages="genderErrors"
                @input="$v.accountForm.gender.$touch()"
                @blur="$v.accountForm.gender.$touch()"
              ></v-select>

              <v-select
                v-model="accountForm.state"
                :items="states"
                item-text="title"
                item-value="id"
                type="text"
                color="primary"
                label="State Of Residence"
                :error-messages="stateErrors"
                @input="$v.accountForm.state.$touch()"
                @blur="$v.accountForm.state.$touch()"
              ></v-select>

              <v-dialog ref="dialog" persistent width="290px">
                <template v-slot:activator="{ on }">
                  <v-text-field
                    v-model="accountForm.birthdate"
                    label="Birthdate"
                    :prepend-icon="calendarIcon"
                    readonly
                    v-on="on"
                    :error-messages="birthdateErrors"
                    @input="$v.accountForm.birthdate.$touch()"
                    @blur="$v.accountForm.birthdate.$touch()"
                  ></v-text-field>
                </template>
                <v-date-picker
                  v-model="accountForm.birthdate"
                  :max="max_date"
                  :min="min_date"
                  scrollable
                >
                  <v-spacer></v-spacer>
                  <v-btn text color="primary" @click="Datemodal = false"
                    >Cancel</v-btn
                  >
                  <v-btn
                    text
                    color="primary"
                    @click="$refs.dialog.save(accountForm.birthdate)"
                    >OK</v-btn
                  >
                </v-date-picker>
              </v-dialog>

              <!-- <v-text-field
                v-model="accountForm.account_number"
                type="number"
                color="primary"
                label="Account Number"
                :error-messages="accountNumberErrors"
                @input="$v.accountForm.accountNumber.$touch()"
                @blur="$v.accountForm.accountNumber.$touch()"
              ></v-text-field>

              <v-text-field
                v-model="accountForm.account_name"
                type="text"
                color="primary"
                label="Account Name"
                :error-messages="accountNameErrors"
                @input="$v.accountForm.accountName.$touch()"
                @blur="$v.accountForm.accountName.$touch()"
              ></v-text-field>

              <v-select
                v-model="accountForm.bank"
                :items="banks"
                item-text="name"
                item-value="code"
                type="text"
                color="primary"
                label="Select Bank"
                :error-messages="bankErrors"
                @input="$v.accountForm.bank.$touch()"
                @blur="$v.accountForm.bank.$touch()"
              ></v-select> -->

              <v-btn
                color="primary"
                depressed
                @click="submitAccountForm()"
                :loading="accountSubmiting"
                :disabled="accountSubmiting"
                >Update Account</v-btn
              >
            </v-col>
          </v-row>
        </v-expansion-panel-content>
      </v-expansion-panel>

      <!-- Email Settings -->
      <v-expansion-panel>
        <v-expansion-panel-header>Email</v-expansion-panel-header>
        <v-expansion-panel-content>
          <v-text-field
            v-model="emailForm.old_email"
            type="email"
            clearabl
            color="primary"
            placeholder="Email Address"
            label="Email Address"
            disabled
          ></v-text-field>

          <v-text-field
            v-model="emailForm.new_email"
            type="email"
            clearabl
            color="primary"
            label="New Email Address"
            :error-messages="newEmailErrors"
            @input="$v.emailForm.new_email.$touch()"
            @blur="$v.emailForm.new_email.$touch()"
          ></v-text-field>
          <v-btn
            color="primary"
            depressed
            @click="submitEmailForm()"
            :loading="emailSubmiting"
            :disabled="emailSubmiting"
            >Update Email</v-btn
          >
        </v-expansion-panel-content>
      </v-expansion-panel>

      <!-- Change Password -->

      <v-expansion-panel>
        <v-expansion-panel-header>Change Password</v-expansion-panel-header>
        <v-expansion-panel-content>
          <!-- <v-alert
            color="#C82A06"
            dark
            icon="mdi-cancel"
            border="left"
            dismissible
            v-if="hasPasswordError"
          >{{ passwordErrorMessages }}</v-alert>-->

          <v-text-field
            v-model="passwordForm.old_password"
            type="password"
            clearabl
            color="primary"
            label="Old Password"
            :error-messages="oldPasswordErrors"
            @input="$v.passwordForm.old_password.$touch()"
            @blur="$v.passwordForm.old_password.$touch()"
          ></v-text-field>
          <v-text-field
            v-model="passwordForm.new_password"
            type="password"
            clearabl
            color="primary"
            label="New Password"
            :error-messages="newPasswordErrors"
            @input="$v.passwordForm.new_password.$touch()"
            @blur="$v.passwordForm.new_password.$touch()"
          ></v-text-field>
          <v-text-field
            v-model="passwordForm.confirm_password"
            type="password"
            clearabl
            color="primary"
            label="Confirm Password"
            :error-messages="confirmPasswordErrors"
            @input="$v.passwordForm.confirm_password.$touch()"
            @blur="$v.passwordForm.confirm_password.$touch()"
          ></v-text-field>
          <v-btn
            color="primary"
            @click="submitPasswordForm()"
            :loading="passwordSubmiting"
            :disabled="passwordSubmiting"
            depressed
            >Change Password</v-btn
          >
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-expansion-panels>
  </div>
</template>

<script lang="ts" src="./Profile.vue.ts"></script>

<style scoped lang="scss">
.user {
  width: 140px;
  height: 140px;
  border-radius: 100%;
  border: 3px solid #f5a72b;
  position: relative;
}
.profile-img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
.icon {
  position: absolute;
  top: 10px;
  right: 0;
  background: #e2e2e2;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
  text-align: center;
  color: #0000ff;
  font-size: 14px;
  cursor: pointer;
}
</style>

