<template>
  <div>
    <v-container>
      <h2 color="grey lighten-5" class="title mb-5">Refer & Earn</h2>
      <!-- <p>Refer your family, friends and colleagues to Hazina. For each completed referral using your referral link, you will receive 20 points which can be traded for airtime or cash. A referral is completed when they complete their membership profile.</p> -->
      <p>
        Refer your friends to Hazina. For each completed referral using your
        referral link, you earn receive 20 points. Click link to learn more
        <a href="https://bit.ly/2NFbzyZ">https://bit.ly/2NFbzyZ</a>
      </p>
      <v-row>
        <v-col cols="12" sm="4">
          <v-card flat>
            <v-card-title>Total Referral Points</v-card-title>
            <div class="d-flex justify-space-between pa-3">
              <div>
                <p>{{ number_ref_points }}</p>
              </div>
              <div>
                <v-icon size="36" color="primary">mdi-diamond-outline</v-icon>
              </div>
            </div>
          </v-card>
        </v-col>
        <v-col cols="12" sm="4">
          <v-card flat>
            <v-card-title>Pending Points</v-card-title>
            <div class="d-flex justify-space-between pa-3">
              <div>
                <p>{{ pending_points }}</p>
              </div>
              <div>
                <v-icon size="36" color="primary">mdi-diamond-outline</v-icon>
              </div>
            </div>
          </v-card>
        </v-col>
        <v-col cols="12" sm="4">
          <v-card flat>
            <v-card-title>Number Of Referrals</v-card-title>
            <div class="d-flex justify-space-between pa-3">
              <div>
                <p>{{ total_ref }}</p>
              </div>
              <div>
                <v-icon size="36" color="primary"
                  >mdi-account-multiple-outline</v-icon
                >
              </div>
            </div>
          </v-card>
        </v-col>
      </v-row>
      <!-- <v-row dense>
        <v-col cols="12" sm="">
          <v-textarea
            filled
            solo
            flat
            height="80px"
            :value="
              'I Just claimed a free product sample on Hazina. Sign up with this link to start claiming yours. https://gethazina.com/register?ref=' +
              user.ref
            "
            id="MessageInput"
          ></v-textarea>
        </v-col>
        <v-col cols="12" sm="4">
          <v-btn color="primary" x-large height="80px">Copy Referral Message</v-btn>
          <v-sheet
            color="primary"
            height="80px"
            dark
            d-flex
            class="d-flex pa-2 align-center justify-center"
            rounded
            style="cursor: pointer"
            v-ripple
            v-on:click="copyMessage()"
            ><p class="ma-0">Copy Referral Message</p></v-sheet
          >
        </v-col>
      </v-row> -->

      <v-row>
        <v-col>
           <v-card flat width="100%">
                  <v-card-title>Refer And Earn</v-card-title>
                  <v-card-subtitle>Refer your friends to sign up on Hazina using your referral link and earn 20points each, which you can redeem for cash or airtime.</v-card-subtitle>
                  <v-card-text>
                  <v-row>
                    <v-col cols="4" sm="1">
                      <v-textarea
                          height="1px" 
                          hidden
                          :value="
                            'Use my link to join Hazina community and start claiming free samples https://gethazina.com/register?ref=' +
                            user.ref
                          "
                          id="MessageInput"
                          :style="{display:'none'}"
                        ></v-textarea>

                        <a
                          :style="{
                            backgroundColor: 'transparent',
                            padding: '5px',
                            textDecoration: 'none',
                            border:'1px solid #eee',
                            borderRadius: '4px'
                          }"
                          class="pa-5"
                          v-on:click="copyMessage()"
                        >
                          <v-icon color="black" size="40px"
                            >mdi-link</v-icon
                          >
                     </a>
                    </v-col>
                    <v-col cols="4" sm="1">
                        <ShareNetwork
                          network="facebook"
                          :url="
                            'https://gethazina.com/register?ref=' + user.ref
                          "
                          title=""
                          description=""
                          quote="Use my link to join Hazina community and start claiming free samples"
                          hashtags="Hazinahappinessinside"
                          :style="{
                            backgroundColor: 'transparent',
                            padding: '5px',
                            textDecoration: 'none',
                            border:'1px solid #eee',
                            borderRadius: '4px'
                          }"
                          class="pa-5"
                        >
                          <v-icon color="#3b5998" size="40px"
                            >mdi-facebook</v-icon
                          >
                     </ShareNetwork>
                    </v-col>
                    <v-col cols="4" sm="1">
                        <ShareNetwork
                          network="twitter"
                          :url="
                            'https://gethazina.com/register?ref=' + user.ref
                          "
                          title=""
                          description=""
                          quote="Use my link to join Hazina community and start claiming free samples"
                          hashtags="Hazinahappinessinside"
                          :style="{
                            backgroundColor: 'transparent',
                            padding: '5px',
                            textDecoration: 'none',
                            border:'1px solid #eee',
                            borderRadius: '4px'
                          }"
                          class="pa-5"
                        >
                          <v-icon color="#1da1f2" size="40px"
                            >mdi-twitter</v-icon
                          >
                     </ShareNetwork>
                    </v-col>
                    <v-col cols="4" sm="1">
                        <ShareNetwork
                          network="whatsapp"
                          :url="
                            'https://gethazina.com/register?ref=' + user.ref
                          "
                          title=""
                          description=""
                          quote="Use my link to join Hazina community and start claiming free samples"
                          hashtags="Hazinahappinessinside"
                          :style="{
                            backgroundColor: 'transparent',
                            padding: '5px',
                            textDecoration: 'none',
                            border:'1px solid #eee',
                            borderRadius: '4px'
                          }"
                          class="pa-5"
                        >
                          <v-icon color="#25d366" size="40px"
                            >mdi-whatsapp</v-icon
                          >
                     </ShareNetwork>
                    </v-col>
                    <v-col cols="4" sm="1">
                        <ShareNetwork
                          network="telegram"
                          :url="
                            'https://gethazina.com/register?ref=' + user.ref
                          "
                          title=""
                          description=""
                          quote="Use my link to join Hazina community and start claiming free samples"
                          hashtags="Hazinahappinessinside"
                          :style="{
                            backgroundColor: 'transparent',
                            padding: '5px',
                            textDecoration: 'none',
                            border:'1px solid #eee',
                            borderRadius: '4px'
                          }"
                          class="pa-5"
                        >
                          <v-icon color="#0088cc" size="40px"
                            >mdi-telegram</v-icon
                          >
                     </ShareNetwork>
                    </v-col>

                  </v-row>
                     
                  
                        
                  </v-card-text>
          </v-card>
          
        </v-col>
      </v-row>

      <v-row>
        <v-col>
          <v-card>
            <v-card-title>My Referrals</v-card-title>
            <v-data-table
              :headers="headers"
              :items="data"
              :page.sync="currentPage"
              :items-per-page.sync="itemsPerPage"
              :loading="feedbackLoading || isPaginating"
              class="elevation-0"
              @update:options="updateTable"
              :hide-default-footer="true"
              no-data-text="You have not referred anybody yet"
            >
              <!-- :server-items-length="totalData" :search="search" -->
              <template v-slot:[`item.image`]="{ item }">
                <v-avatar>
                  <img :src="item.image" :alt="item.username" :size="24" />
                </v-avatar>
              </template>
            </v-data-table>
            <div class="text-center pt-2">
              <v-pagination
                v-model="currentPage"
                :length="totalPages"
                @input="Paginate"
              ></v-pagination>
            </div>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script lang="ts" src="./Refer.vue.ts"></script>

<style lang="scss" scoped>
</style>
