<template>
  <div>
    <div v-if="!isLoading">
      <template v-if="!my_offers.length">
        <v-row align="center" justify="center">
          <v-col md="6" class="text-center">
            <empty />
            <h1 class="title ma-0 font-weight-medium">No Offers yet</h1>
            <h3 class="subtitle-1">You offers would show here once you accept a campaign offer</h3>
          </v-col>
        </v-row>
      </template>
      <template v-else>
        <v-row align="center" justify="center">
          <v-col md="11">
            <v-card class="pa-3">
              <vueper-slides
                class="no-shadow"
                :visible-slides="3"
                slide-multiple
                :gap="3"
                :slide-ratio="1 / 3"
                :infinite="true"
                :dragging-distance="200"
                :breakpoints="{ 800: { visibleSlides: 1, slideMultiple: 1 , bullets: false, slideRatio: 1/1} }"
              >
                <vueper-slide v-for="item in my_offers" :key="item.id">
                  <template v-slot:content>
                    <v-img :src="item.photo" aspect-ratio="1.7"></v-img>
                    <div class="subheading pt-4">{{ item.elipsis }}</div>
                    <div class="mt-4">
                      <v-chip
                        :color="statusColor[item.status]['color']"
                        small
                        :text-color="statusColor[item.status]['text_color']"
                      >{{ item.status }}</v-chip>
                    </div>
                  </template>
                </vueper-slide>
              </vueper-slides>
            </v-card>
          </v-col>
        </v-row>
      </template>
    </div>
    <spinner v-if="isLoading"></spinner>
  </div>
</template>

<script lang="ts" src="./MyOffer.vue.ts"></script>

