<template>
  <v-container fluid>
    <div v-if="!isLoading">
      <template v-if="!checkAcl(['SURVEY', 'ACCOUNT'], true)">
        <onboard-screen
          title="You are few steps away from your freebie!"
          subtitle="Set up your account to get matched to a product!"
          :image="require('@/assets/images/consumer-dashboard-welcome.svg')"
          route="OnboardAccountUpdate"
          button-text="Complete Setup"
        ></onboard-screen>
      </template>

      <template v-else-if="!checkAcl(['SURVEY'])">
        <onboard-screen
          title="You are few steps away from your freebie!"
          subtitle="Take a quick survey to get matched to a product!"
          :image="require('@/assets/images/consumer-dashboard-welcome.svg')"
          route="OnBoardingSurvey"
          button-text="Take Quick Survey"
        ></onboard-screen>
      </template>

      <template v-else-if="!checkAcl(['ACCOUNT'])">
        <onboard-screen
          title="You are few steps away from your freebie!"
          subtitle="Set up your account to get matched to a product!"
          :image="require('@/assets/images/consumer-dashboard-welcome.svg')"
          route="OnboardAccountUpdate"
          button-text="Update Account"
        ></onboard-screen>
      </template>

      <template v-else>
        <div>
          <v-alert color="primary" icon="mdi-information" dismissible>
            We will start processing your box once you have claimed from a
            minimum of 3 campaign offers. Also, Please note that you can expect your boxes between <strong>Thursday & Friday</strong> For affice addresses. For Home addresses, please expect your boxes between <strong>Saturday & Sunday</strong>.
          </v-alert>
        </div>
        <v-row>
          <v-col cols="12" sm="8">
            <!-- <v-row>
              <v-col cols="12" sm="12" class="d-flex align-stretch">
                <v-card flat width="100%" class="pa-3">
                  <template v-if="data.banner_ads.length">
                    <vueper-slides
                      class="no-shadow"
                      :visible-slides="3"
                      slide-multiple
                      :gap="3"
                      :infinite="true"
                      :arrows="true"
                      :arrows-outside="false"
                      :slide-ratio="1 / 10"
                      :dragging-distance="200"
                      :breakpoints="{
                        800: {
                          visibleSlides: 1,
                          slideMultiple: 1,
                          bullets: false,
                          slideRatio: 1 / 2,
                        },
                      }"
                    >
                      <vueper-slide
                        v-for="item in data.banner_ads"
                        :key="item.id"
                      >
                        <template v-slot:content>
                          <v-img
                            :src="item.image"
                            aspect-ratio="3.2"
                            :contain="true"
                          ></v-img>
                        </template>
                      </vueper-slide>
                    </vueper-slides>
                  </template>
                  <template v-else>
                    <p class="text-left pa-3 body-1">
                      There are no Infos at the moment.
                    </p>
                  </template>
                </v-card>
              </v-col>
            </v-row> -->
            <v-row>
              <v-col cols="12" sm="6" class="d-flex align-stretch">
                <v-card flat width="100%">
                  <v-card-title>New Offers</v-card-title>
                  <template v-if="data.new_offers.length">
                    <v-card flat width="100%">
                      <template v-if="data.new_offers.length">
                        <v-row class="pa-3">
                          <v-col
                            cols="12"
                            sm="6"
                            v-for="(item, index) in data.new_offers"
                            v-bind:key="index"
                          >
                            <v-card
                              class="text-center pa-6"
                              outlined
                              ripple
                              hover
                              @click="showOffers(item.id)"
                            >
                              <h4>{{ item.title }}</h4>
                            </v-card>
                          </v-col>
                        </v-row>
                        <v-row justify="center">
                          <v-dialog
                            v-model="Offersdialog"
                            scrollable
                            max-width="300px"
                            persistent
                          >
                            <v-card>
                              <v-card-title>New Offers</v-card-title>
                              <v-card-subtitle>You can only claim one sample in a category</v-card-subtitle>
                              <!-- <v-divider></v-divider> -->
                              <v-card-text style="height: 300px">
                                <template v-if="offersDialogLoading">
                                  <v-row align="center" justify="center">
                                  <v-col md="5">
                                    <v-progress-circular
                                    :size="70"
                                    :width="7"
                                    color="primary"
                                    indeterminate
                                    class="ma-auto"
                                  ></v-progress-circular>
                                  </v-col>
                                  </v-row>
                                </template>
                                <template v-else>
                                  <v-list three-line>
                                    <template
                                      v-for="(item, index) in loadedOffers"
                                    >
                                      <v-divider
                                        v-if="index > 0"
                                        :key="index"
                                        :inset="true"
                                      ></v-divider>
                                      <v-list-item :key="item.title">
                                        <v-list-item-avatar>
                                          <img :src="item.brand.photo" />
                                        </v-list-item-avatar>
                                        <v-list-item-content>
                                          <v-list-item-title
                                            v-html="item.title"
                                          ></v-list-item-title>
                                          <v-list-item-subtitle
                                            v-html="item.description"
                                          ></v-list-item-subtitle>
                                          <div
                                            style="width: 100px !important"
                                            class="mt-2"
                                          >
                                            <v-btn
                                              depressed
                                              color="primary"
                                              small
                                              outlined
                                              :to="{
                                                name: 'OfferPage',
                                                params: { id: item.id },
                                              }"
                                              >Accept Offer</v-btn
                                            >
                                          </div>
                                        </v-list-item-content>
                                      </v-list-item>
                                    </template>
                                  </v-list>
                                </template>
                              </v-card-text>
                              <!-- <v-divider></v-divider>
                              <v-card-actions>
                                <v-btn
                                  color="primary"
                                  text
                                  @click="Offersdialog = false"
                                  >Close</v-btn
                                >
                              </v-card-actions> -->
                            </v-card>
                          </v-dialog>
                        </v-row>
                      </template>
                      <template v-else>
                        <p class="text-left pa-3 body-1">
                          There are no offers at the moment.
                        </p>
                      </template>
                    </v-card>
                  </template>
                  <template v-else>
                    <p class="text-left pa-3 body-1">
                      There are no offers at the moment.
                    </p>
                  </template>
                </v-card>
              </v-col>
              <v-col cols="12" sm="6" class="d-flex align-stretch">
                <v-card flat width="100%">
                  <v-card-title>Refer And Earn</v-card-title>
                  <v-card-subtitle>Refer your friends to sign up on Hazina using your referral link and earn 20points each, which you can redeem for cash or airtime.</v-card-subtitle>
                  <v-card-text>
                  <v-row>
                    <v-col cols="4" sm="4">
                      <v-textarea
                          height="1px" 
                          hidden
                          :value="
                            'Use my link to join Hazina community and start claiming free samples https://gethazina.com/register?ref=' +
                            user.ref
                          "
                          id="MessageInput"
                          :style="{display:'none'}"
                        ></v-textarea>

                        <a
                          :style="{
                            backgroundColor: 'transparent',
                            padding: '5px',
                            textDecoration: 'none',
                            border:'1px solid #eee',
                            borderRadius: '4px'
                          }"
                          class="pa-5"
                          v-on:click="copyMessage()"
                        >
                          <v-icon color="black" size="40px"
                            >mdi-link</v-icon
                          >
                     </a>
                    </v-col>
                    <v-col cols="4" sm="4">
                        <ShareNetwork
                          network="facebook"
                          :url="
                            'https://gethazina.com/register?ref=' + user.ref
                          "
                          title=""
                          description=""
                          quote="Use my link to join Hazina community and start claiming free samples"
                          hashtags="Hazinahappinessinside"
                          :style="{
                            backgroundColor: 'transparent',
                            padding: '5px',
                            textDecoration: 'none',
                            border:'1px solid #eee',
                            borderRadius: '4px'
                          }"
                          class="pa-5"
                        >
                          <v-icon color="#3b5998" size="40px"
                            >mdi-facebook</v-icon
                          >
                     </ShareNetwork>
                    </v-col>
                    <v-col cols="4" sm="4">
                        <ShareNetwork
                          network="twitter"
                          :url="
                            'https://gethazina.com/register?ref=' + user.ref
                          "
                          title=""
                          description=""
                          quote="Use my link to join Hazina community and start claiming free samples"
                          hashtags="Hazinahappinessinside"
                          :style="{
                            backgroundColor: 'transparent',
                            padding: '5px',
                            textDecoration: 'none',
                            border:'1px solid #eee',
                            borderRadius: '4px'
                          }"
                          class="pa-5"
                        >
                          <v-icon color="#1da1f2" size="40px"
                            >mdi-twitter</v-icon
                          >
                     </ShareNetwork>
                    </v-col>
                    <v-col cols="4" sm="4">
                        <ShareNetwork
                          network="whatsapp"
                          :url="
                            'https://gethazina.com/register?ref=' + user.ref
                          "
                          title=""
                          description=""
                          quote="Use my link to join Hazina community and start claiming free samples"
                          hashtags="Hazinahappinessinside"
                          :style="{
                            backgroundColor: 'transparent',
                            padding: '5px',
                            textDecoration: 'none',
                            border:'1px solid #eee',
                            borderRadius: '4px'
                          }"
                          class="pa-5"
                        >
                          <v-icon color="#25d366" size="40px"
                            >mdi-whatsapp</v-icon
                          >
                     </ShareNetwork>
                    </v-col>
                    <v-col cols="4" sm="4">
                        <ShareNetwork
                          network="telegram"
                          :url="
                            'https://gethazina.com/register?ref=' + user.ref
                          "
                          title=""
                          description=""
                          quote="Use my link to join Hazina community and start claiming free samples"
                          hashtags="Hazinahappinessinside"
                          :style="{
                            backgroundColor: 'transparent',
                            padding: '5px',
                            textDecoration: 'none',
                            border:'1px solid #eee',
                            borderRadius: '4px'
                          }"
                          class="pa-5"
                        >
                          <v-icon color="#0088cc" size="40px"
                            >mdi-telegram</v-icon
                          >
                     </ShareNetwork>
                    </v-col>

                  </v-row>
                     
                  
                        
                  </v-card-text>
                </v-card>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12" sm="6" class="d-flex align-stretch">
                <v-card flat width="100%" class="pa-3">
                  <v-card-title>Awaiting Delivery</v-card-title>
                  <template v-if="data.awaiting_deliveries">
                    <vueper-slides
                      class="no-shadow"
                      :visible-slides="2"
                      slide-multiple
                      :gap="3"
                      :infinite="true"
                      :arrows="true"
                      :arrows-outside="false"
                      :slide-ratio="2 / 4"
                      :dragging-distance="200"
                      :breakpoints="{
                        800: {
                          visibleSlides: 1,
                          slideMultiple: 1,
                          bullets: false,
                          slideRatio: 2 / 3,
                        },
                      }"
                    >
                      <vueper-slide
                        v-for="item in data.awaiting_deliveries"
                        :key="item.id"
                      >
                        <template v-slot:content>
                          <v-img
                            :src="item.campaign.photo"
                            aspect-ratio="1.7"
                          ></v-img>
                          <p class="pt-2">{{ item.campaign.elipsis }}</p>
                        </template>
                      </vueper-slide>
                    </vueper-slides>
                  </template>
                  <template v-if="!data.awaiting_deliveries">
                    <p class="text-left pa-3 body-1">
                      You have not recieved any product yet.
                    </p>
                  </template>
                </v-card>
              </v-col>
              <v-col cols="12" sm="6" class="d-flex align-stretch">
                <v-card flat width="100%">
                  <v-card-title>Latest Shipping</v-card-title>
                  <template v-if="data.latest_shipping">
                    <div
                      v-for="(latest, key) in data.latest_shipping"
                      v-bind:key="key"
                    >
                      <div class="d-flex justify-start align-center px-4">
                        <div class="mr-3">
                          <v-img
                            width="48"
                            src="@/assets/images/box.svg"
                          ></v-img>
                        </div>
                        <div>
                          <p class="ma-0 title-1" style="font-weight: 500">
                            {{ key }}
                          </p>
                        </div>
                      </div>
                      <div class="px-4 my-4">
                        <ol>
                          <li v-for="product in latest" v-bind:key="product.id">
                            {{ product.campaign.title }}
                          </li>
                        </ol>
                      </div>
                    </div>
                  </template>
                  <template v-else>
                    <p class="text-left pa-3 body-1">
                      You have not recieved any product yet.
                    </p>
                  </template>
                </v-card>
              </v-col>
            </v-row>
            <v-row>
              <v-col md="12" cols="12">
                <v-card flat>
                  <v-card-title>Feedback</v-card-title>
                  <template v-if="data.feedback_surveys.length">
                    <v-simple-table>
                      <template v-slot:default>
                        <thead>
                          <tr>
                            <th class="text-left"></th>
                            <th class="text-left"></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr
                            v-for="item in data.feedback_surveys"
                            :key="item.id"
                          >
                            <td>{{ item.survey.title }}</td>
                            <td>
                              <div style="width: 100px !important">
                                <v-btn
                                  depressed
                                  color="primary"
                                  small
                                  outlined
                                  :to="{
                                    name: 'FeedbackSurvey',
                                    params: { id: encrypt(item.id) },
                                  }"
                                  >Take Survey</v-btn
                                >
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </template>
                    </v-simple-table>
                  </template>
                  <template v-else>
                    <p class="px-4 pb-4">
                      You do have any feedback surveys at the moment
                    </p>
                  </template>
                </v-card>
              </v-col>
            </v-row>
          </v-col>
          <v-col cols="12" sm="4" class="d-flex align-stretch">
            <v-card flat width="100%">
              <v-card-title>Already Claimed</v-card-title>
              <template v-if="data.my_offers.length">
                <v-list three-line>
                  <template v-for="(item, index) in data.my_offers">
                    <v-divider
                      v-if="index > 0"
                      :key="index"
                      :inset="true"
                    ></v-divider>
                    <v-list-item :key="item.title" ripple>
                      <v-list-item-avatar>
                        <img :src="item.brand.photo" />
                      </v-list-item-avatar>
                      <v-list-item-content>
                        <v-list-item-title
                          v-html="item.title"
                        ></v-list-item-title>
                        <v-list-item-subtitle
                          v-html="item.description"
                        ></v-list-item-subtitle>
                      </v-list-item-content>
                    </v-list-item>
                  </template>
                </v-list>
              </template>
              <template v-else>
                <p class="text-left pa-3 body-1">
                  You have not yet claimed any offer.
                </p>
              </template>
            </v-card>
          </v-col>
        </v-row>
      </template>
    </div>
    <spinner v-if="isLoading"></spinner>
  </v-container>
</template>

<script lang="ts" src="./Home.vue.ts"></script>

<style lang="scss" scoped>
.list-heading {
  letter-spacing: 0.02em;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
</style>

<style>
.vueperslides__arrows {
  color: #f5a72b;
}
</style>

