<template>
  <div>
    <v-row>
      <v-col cols="12" md="8" class="d-flex align-stretch">
          <v-card flat :loading="isAwaitingLoading" width="100%">
              <v-card-title class="title">Awaiting Delivery</v-card-title>
              <template v-if="awaiting_shipping">
                <v-card-text class="pa-0">
                <v-expansion-panels tile class="elevation-0">
                  <v-expansion-panel
                    v-for="(awaiting, key) in awaiting_shipping"
                    v-bind:key="key"
                  >
                    <v-expansion-panel-header>
                      {{ key }}
                    </v-expansion-panel-header>
                    <v-expansion-panel-content>
                      <v-row>
                        <v-col
                          md="6"
                          v-for="product in awaiting"
                          v-bind:key="product.id"
                        >
                          <v-card class="mx-auto" max-width="400">
                            <v-img
                              class="white--text align-end"
                              height="200px"
                              :src="product.campaign.photo"
                            >
                              <v-card-title>{{
                                product.campaign.elipsis
                              }}</v-card-title>
                            </v-img>
                          </v-card>
                        </v-col>
                      </v-row>
                    </v-expansion-panel-content>
                  </v-expansion-panel>
                </v-expansion-panels>
              </v-card-text>
              </template>
              <template v-else> 
                <v-card-text>
                  <p>You do not have any boxes awaiting delivery at the moment.</p>
                </v-card-text>
              </template>
            
            </v-card>
      </v-col>
      <v-col cols="12" md="4">
        <v-card :loading="isShippingDetailLoading" flat>
          <div class="d-flex justify-space-between align-center">
            <div>
              <v-card-title>Shipping Info</v-card-title>
            </div>
            <div>
              <v-btn
                class="ma-2"
                color="primary"
                small
                depressed
                @click="dialog = true"
              >
                <v-icon left>mdi-pencil</v-icon>Update Info
              </v-btn>
            </div>
          </div>
          <v-list three-line>
            <v-list-item>
              <v-list-item-content>
                <v-list-item-title>Name</v-list-item-title>
                <v-list-item-subtitle>{{
                  shipping_detail.full_name
                }}</v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
            <v-divider></v-divider>
            <v-list-item>
              <v-list-item-content>
                <v-list-item-title>State</v-list-item-title>
                <v-list-item-subtitle>{{ state_name.name }}</v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
            <v-divider></v-divider>
            <v-list-item>
              <v-list-item-content>
                <v-list-item-title>Address</v-list-item-title>
                <v-list-item-subtitle>{{
                  shipping_detail.full_address
                }}</v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
            <v-divider></v-divider>
            <v-list-item>
              <v-list-item-content>
                <v-list-item-title>Phone</v-list-item-title>
                <v-list-item-subtitle>{{
                  shipping_detail.phone
                }}</v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
            <v-divider></v-divider>
            <v-list-item>
              <v-list-item-content>
                <v-list-item-title>Email</v-list-item-title>
                <v-list-item-subtitle>{{
                  shipping_detail.email
                }}</v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
          </v-list>
        </v-card>
      </v-col>
    </v-row>

    <v-dialog v-model="dialog" persistent max-width="400">
      <v-card class="pa-5">
        <v-card-title class="title">Update Shipping Details</v-card-title>
        <v-card-text>
          <p>
            <b>Please Note:</b> Hazina currently ships boxes to key areas of Lagos. If you can’t find yours, don’t worry, we’ll let you know once we start shipping there.
          </p>

          <v-alert
            color="#C82A06"
            dark
            icon="mdi-cancel"
            border="left"
            v-if="hasError"
            class="mb-3"
            dismissible
            outlined
            v-model="showAlert"
            >{{ errorMessages }}</v-alert
          >

          <v-select
            :items="states"
            item-text="name"
            item-value="id"
            label="Select Your State"
            :autofocus="true"
            v-on:change="populateLga"
            v-model="state"
          ></v-select>
          <v-select
            :items="lgas"
            item-text="name"
            item-value="id"
            label="Select Your Local Govt."
            v-on:change="populateArea"
            :disabled="lgas < 1"
            v-model="lga"
            :autofocus="true"
          ></v-select>
          <v-select
            :items="areas"
            item-text="name"
            item-value="id"
            label="Select Your Area"
            :disabled="areas < 1"
            v-model="area"
            :autofocus="true"
          ></v-select>
          <v-text-field
            v-model="street_number"
            label="Apartment/House Number"
            :disabled="areas < 1"
            placeholder="E.g: No 5"
          ></v-text-field>
          <v-text-field
            v-model="street_name"
            label="Street Address"
            placeholder="E.g: Egba Street"
            :disabled="areas < 1"
          ></v-text-field>
          <v-text-field
            v-model="landmark"
            label="Closest Landmark"
            placeholder="E.g: Mr. Biggs, KFC"
            :disabled="areas < 1"
          ></v-text-field>
          <p>
           Please uncheck this if the address you provided is your office address or check this if the address is your home address.
          </p>
          <v-switch v-model="is_home_address" inset :label="`Is this your home address?`"></v-switch>
          <!-- <vuetify-google-autocomplete
            v-model="shippingForm.address"
            @input="$v.shippingForm.address.$touch()"
            @blur="$v.shippingForm.address.$touch()"
            id="map"
            append-icon=""
            v-bind:disabled="false"
            placeholder="Start typing"
            v-on:placechanged="getAddressData"
            :errorMessages="addressErrorMessage"
          >
          </vuetify-google-autocomplete> -->
          
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red" outlined depressed small @click="dialog = false"
            >Cancel</v-btn
          >
          <v-btn
            color="primary"
            small
            depressed
            @click="updateShipping()"
            :loading="isDetailsUpdating"
            :disabled="
              street_name < 1 ||
              street_number < 1 ||
              area < 1 ||
              lga < 1 ||
              !isStateSet
            "
            >Save Changes</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script lang="ts" src="./Shipping.vue.ts"></script>

