<template>
<div>
    <v-main>
        <router-view></router-view>
    </v-main>
    
    <v-footer light color="#EEEEEE" class="font-weight-medium">
      <v-col class="text-center" cols="12">
        © Copyrights {{ new Date().getFullYear() }} —
        <strong>Hazina,</strong> All rights reserved.
      </v-col>
    </v-footer>
</div>
</template>

<script>
export default {

} 
</script>

<style>

</style>