<template>
  <div>
    <v-row class="justify-center align-center">
        <v-col md="6" class="text-center">
             <v-img src="@/assets/images/celebrate.svg" width="200" class="ma-auto"></v-img>
              <p class="title primary--text">Congratulations!</p>
               <!-- <p class="title font-weight-medium my-1">You have now join Hazina community</p> -->
        <div class="mt-1 text-left">
        <p>You have now join Hazina community! Here are few things you should know: </p>
        </div>
        <div class="mt-1 text-left">
          <ul class="ma-0">
            <li class="mb-2">You will automatically get matched with free samples based on your member profile. </li>
            <li class="mb-2">Make sure you claim offers you get matched with as soon as possible as products are on a first come first served basis.</li>
            <li class="mb-2">Only claimed products are shipped. Hazina only ships boxes to users once they have claimed at least 3-products, so keep checking back till you do. You can expect to receive you box in 1-2 weeks after claiming your third offer.</li>
            <li class="mb-2">Increase your chances of getting matched by taking Fun Surveys. You also earn points which you can redeem for airtime or cash back.</li>
            <li class="mb-2">Don’t forget to update your <a href="">profile</a>, your <a href="">shipping address</a> and share Hazina with friends and family</li>
          </ul>
        </div>
        <div class="mt-4">
          <v-btn :to="{name: 'Home'}" color="primary" depressed class="ma-1">Start Claiming</v-btn>
        </div>
      
        </v-col> 
    </v-row>

  </div>
</template>

<script lang="ts" src="./OnboardWelcome.vue.ts"></script>

